/*  your css code here. If applicable */
.square {
    width: 60px;
    height: 60px;
    background-color: #E6E6FA; /* Lavender */
    display: inline-block;
    margin: 10px;
    transition: 0.2s;
}

